body {
    background: lightpink;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

.card-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-decoration: none;
    color: black;
    min-width: 180px;
    text-align: center;
}