{% extends "base.html" %}

{% block content %}
<h1>Applications</h1>

<p><a href="{{ url_for('add_application') }}" class="add-link">Add Application</a></p>

<table class="styled-table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Status</th>
            <th>Date Applied</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{ application.company_name }}</td>
            <td>{{ application.job_title }}</td>
            <td>{{ application.status }}</td>
            <td>{{ application.date_applied }}</td>
            <td>{{ application.notes }}</td>
            <td>
                <a href="/edit_application/{{ application.id }}">Edit</a>
                <a href="/delete_application/{{ application.id }}">Delete</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">No applications found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}